extends maplayout 

block content
    <div class="hex">1</div>
    <div class="hex">2</div>
    <div class="hexbase">3</div>
    <div class="hex">4</div>
    <div class="hex">5</div>
    <br>
    <div class="hex">6</div>
    <div class="hex">7</div>
    <div class="hex">8</div>
    <div class="hex">9</div>
    <div class="hex">10</div>
    <div class="hex">11</div>
    <br>
    <div class="hexbase" onclick="location.href='https://cdn-free-i2legacy.tv2i.dk/i/25/25442519-86165966ee9a20b88933ff10cc4e0f94.jpeg?w=624&h=351&q=60&crop=faces&auto=format&fit=crop';" style="cursor: pointer;">12</div>
    <div class="hex">13</div>
    <div class="hex">14</div>
    <div class="hex">15</div>
    <div class="hex">16</div>
    <div class="hex">17</div>
    <div class="hexbase">18</div>
    <br>
    <div class="hex">19</div>
    <div class="hex">20</div>
    <div class="hex">21</div>
    <div class="hex">22</div>
    <div class="hex">23</div>
    <div class="hex">24</div>
    <div class="hex">25</div>
    <div class="hex">26</div>
    <br>
    <div class="hex">27</div>
    <div class="hex">28</div>
    <div class="hex">29</div>
    <div class="hex">30</div>
    <div class="hex">31</div>
    <div class="hex">32</div>
    <div class="hex">33</div>
    <div class="hex">34</div>
    <div class="hex">35</div>
    <br>
    <div class="hex">36</div>
    <div class="hex">37</div>
    <div class="hex">38</div>
    <div class="hex">39</div>
    <div class="hex">40</div>
    <div class="hex">41</div>
    <div class="hex">42</div>
    <div class="hex">43</div>
    <br>
    <div class="hexbase">44</div>
    <div class="hex">45</div>
    <div class="hex">46</div>
    <div class="hex">47</div>
    <div class="hex">48</div>
    <div class="hex">49</div>
    <div class="hexbase">50</div>
    <br>
    <div class="hex">51</div>
    <div class="hex">52</div>
    <div class="hex">53</div>
    <div class="hex">54</div>
    <div class="hex">55</div>
    <div class="hex">56</div>
    <br>
    <div class="hex">57</div>
    <div class="hex">58</div>
    <div class="hexbase">59</div>
    <div class="hex">60</div>
    <div class="hex">61</div>
    <br>   

