doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/cityview.css")
    link(rel="stylesheet", href="/stylesheets/menu.css")
    link(rel="stylesheet", href="/stylesheets/selector.css")

    title Minecraft
  body
    .box
    .main
      .container
        #cityview_tile
      
      .containerbtn
        #button_townhall 
        #button_resource
        #button_barrack 
        
      .container-h
          .container-h-box
            .grid-container
              .header#name #{username} 
              .level#level Your level: 
              a(href="/cityview")
                .nav1#nav1.hover
                  img(src="../images/assets/home.png" width="35px")
              a(href="/mapview")
                .nav2#nav2.hover
                  img(src="../images/assets/village.png" width="35px")
              a(href="/login")  
                .nav3#nav3.hover
                  img(src="../images/assets/chat.png" width="35px")
              a(href="/login/logout")
                .nav4#nav4.hover
                  img(src="../images/assets/logout.png" width="35px")
              .info1#gold
                .gold1#gold1
                  img(src="../images/assets/coin.png" width="25px")
                .gold2#gold2
              .info2#common
                .common1#common1
                  img(src="../images/assets/box.png" width="25px")
                .common2#common2
              .info3#troops 
                .troops1#troops1
                  img(src="../images/assets/soldier.png" width="25px")
                .troops2#troops2
              .info4#info4
              .header2 Dev
              .dev1#dev1 id:
              .dev2 Test
              .dev3 Test
              .dev4 Test
              .selector
                .h Name
                .s1
                  .s11
                    img(src="../images/assets/intown.png" width="25px")
                  .s12 0
                .s2
                  .s21
                    img(src="../images/assets/outtown.png" width="25px")
                  .s22 0
                .s3
                  .s31
                    img(src="../images/assets/dollar.png" width="25px")
                  .s32 0
                .s4
                  .s41
                    img(src="../images/assets/que.png" width="25px")
                  .s42 0
                .train Train
                    .i info
              .time#timer
    //- Barracks Modal
    .barracksModal#barracksModal
      .barracksModalContent
        span.close &times;
        h1 Barracks 
        p#count Placeholder 
        button#troopBtn Train troop
        p#countDown 
        p#queue

    script(src="./../javascripts/cityviewcontroller.js")
    script(src="./../javascripts/troops.js")
    script(src="./../javascripts/timer.js")  
  
