doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/cityview.css")
    title Minecraft
  body
    .box
    .main
      .container
        #cityview_tile
      
      .containerbtn
        #button_townhall 
        #button_resource
        #button_barrack 
  script(src="/javascripts/eventhandler_cityview.js") 