doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/mapview.css")
    title Minecraft
  body
    .box
      .main
        .container-v
          #resource1
          div
          #base
          div
          #resource1
          br
          div
          div
          div
          div
          div
          div
          br
          #base
          div
          #resource2
          div
          #resource2
          div
          #base
          br
          div
          div
          div
          #resource1
          #resource1
          div
          div
          div
          br
          #resource1
          div
          #resource2
          #resource1
          #resource2
          #resource1
          #resource2
          div
          #resource1
          br
          div
          div
          div
          #resource1
          #resource1
          div
          div
          div
          br
          #base
          div
          #resource2
          div
          #resource2
          div
          #base
          br
          br
          div
          div
          div
          div
          div
          div
          br
          #resource1
          div
          #base
          div
          #resource1
          br
        .container-h
          div

