doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/mapview.css")
    script(src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous")
    title Minecraft
  body
    .box
      .main
        .container-v
          #resource1
          div
          #base
          div
          #resource1
          br
          div
          div
          div
          div
          div
          div
          br
          #base
          div
          #resource2
          div
          #resource2
          div
          #base
          br
          div
          div
          div
          #resource1
          #resource1
          div
          div
          div
          br
          #resource1
          div
          #resource2
          #resource1
          #resource2
          #resource1
          #resource2
          div
          #resource1
          br
          div
          div
          div
          #resource1
          #resource1
          div
          div
          div
          br
          #base
          div
          #resource2
          div
          #resource2
          div
          #base
          br
          br
          div
          div
          div
          div
          div
          div
          br
          #resource1
          div
          #base
          div
          #resource1
          br
        .container-h
          .container-h-box
            .grid-container
              .header Basenavn 
              .header1 Navigation
              .nav1
                img(src="../images/assets/home.png" width="35px")
              .nav2
                img(src="../images/assets/village.png" width="35px")  
              .nav3
                img(src="../images/assets/chat.png" width="35px")
              .nav4
                img(src="../images/assets/logout.png" width="35px")
              .info Main
              .info1 Gold
              .info2 Tree 
              .info3 Troops 
              .info4 Time
              .header2 Dev
              .dev1 Test
              .dev2 Test
              .dev3 Test
              .dev4 Test


