doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/mapview.css")
    link(rel="stylesheet", href="/stylesheets/menu.css")
    link(rel="stylesheet", href="/stylesheets/selector.css")
    link(rel="stylesheet", href="/stylesheets/popup.css")

    title Bravian
  body
    .box
      .alert.success Success! Indicates a successful or positive action.
      .main
        .container-v
          .resource1#i48
          div#i58
          .base#i68
          div#i78 
          .resource1#i88
          br
          div#i37 
          div#i47
          div#i57
          div#i67 
          div#i77 
          div#i87 
          br
          .base#i26 
          div#i36 
          .resource2#i46 
          div#i56 
          .resource2#i66 
          div#i76 
          .base#i86 
          br 
          div#i15 
          div#i25 
          div#i35 
          .resource1#i45 
          .resource1#i55
          div#i65
          div#i75
          div#i85
          br
          .resource1#i04
          div#i14
          .resource2#i24
          .resource1#i34
          .resource2#i44
          .resource1#i54
          .resource2#i64
          div#i74
          .resource1#i84
          br
          div#i03
          div#i13
          div#i23
          .resource1#i33
          .resource1#i43
          div#i53
          div#i63
          div#i73
          br
          .base#i02
          div#i12
          .resource2#i22
          div#i32
          .resource2#i42
          div#i52
          .base#i62
          br
          div#i01
          div#i11
          div#i21
          div#i31
          div#i41
          div#i51
          br
          .resource1#i00
          div#i10
          .base#i20
          div#i30
          .resource1#i40
          br
        .container-h
          .container-h-box#borderColor
            .grid-main
              .grid-container
                .header#name #{username} 
                .level#level Your level: #
                a(href="/cityview")
                  .nav1#nav1.hover
                    img(src="../images/assets/home.png" width="35px")
                a(href="/mapview")
                  .nav2#nav2.hover
                    img(src="../images/assets/village.png" width="35px")
                a(href="/login")  
                  .nav3#nav3.hover
                    img(src="../images/assets/chat.png" width="35px")
                a(href="/login/logout")
                  .nav4#nav4.hover
                    img(src="../images/assets/logout.png" width="35px")
                .info1#gold
                  .gold1#gold1
                    img(src="../images/assets/coin.png" width="25px")
                  .gold2#gold2
                .info2#common
                  .common1#common1
                    img(src="../images/assets/box.png" width="25px")
                  .common2#common2
                .info3#troops 
                  .troops1#troops1
                    img(src="../images/assets/soldier.png" width="25px")
                  .troops2#troops2
                .info4#troopsOutside
                  .outtroops1#outtroops1
                    img(src="../images/assets/outtown.png" width="25px")
                  .outtroops2#outtroops2 0
              .selector
                .selector4
                  .h Select a tile to attack, and how many troops
                  .a1 Amount of troops
                  .a2
                    input(type="number", max="0", min="0", id="numberOfTroops")
                  .attack
                    button.button_attack.hover#buttonAttack Attack
                    .i info
              .time#timer


    script(src="./../javascripts/mapveiwcontroller.js")
    script(src="./../javascripts/popup.js")
    script(src="./../javascripts/timer.js")


