extends layout

block content
  p Login success 
  p User: #{username}
  p(id="count") Placeholder
  button(id="button") Yay!
  p(id="countDown")

  
  //- Scripts
  script(src="./../javascripts/success.js")
