.main {
  display: flex;
  --s: 36vw;
  /* size  */
  --m: -4px;
  /* space */
}

body {
  overflow: hidden;
  font-family: "Lato", "Helvetica", Helvetica, sans-serif;
  min-width: 412px;
  margin: 0;
  background-color: rgb(46, 140, 213);
  /*rgb(35 174 97); Grøn til bagrunden*/
  /* font-size: 0; */
  text-align: center;
  background-image: url(https://i.imgur.com/FOHv2pm.png);
}

#cityview_tile {
  background-image: url(../images/Tiles/Custom/Basehex.png);
}

#button_townhall {
  background-image: url(../images/Objects/Custom/Townhall);
  position: relative;
  top: -3vw;
  left: 31vw;
  height: 10vw;
  width: 8vw;
}

#button_resource {
  background-image: url(../images/Objects/Custom/Resource);
  position: relative;
  top: 6vw;
  left: 11vw;
  height: 10vw;
  width: 8vw;
}

#button_barrack {
  background-image: url(../images/Objects/Custom/Barracks);
  position: relative;
  top: 12vw;
  left: 19vw;
  height: 15vw;
  width: 8vw;
  transform: scaleX(-1);
}

.container {
  font-size: 0;
  left: 15%;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 50px;
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  /*  = 1/cos(30)  */
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) + var(--s)*-0.2885);
  /* = tan(30)/2 */
  /*grass https://i.imgur.com/DuqCNxA.png */
  background-size: contain;
  vertical-align: middle;
  max-width: 100%;
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  height: 100%;
  --r: calc(var(--s)*3*1.1547/2 + 4*var(--m) - 2px);
  shape-outside:
    repeating-linear-gradient(transparent 0 calc(var(--r) - 3px),
      rgb(223, 7, 7) 0 var(--r));
}

.containerbtn {
  font-size: 0;
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 50px;
}

.containerbtn div {
  margin: 0;
  display: inline-block;
  font-size: initial;
  margin-bottom: 0;
  background-size: contain;
  vertical-align: middle;
  max-width: 100%;
  background-repeat: no-repeat;
}

.containerbtn div:hover {
  cursor: pointer;
  -webkit-filter: saturate(2);
  filter: saturate(2);
}

.barrack, .townHall, .baseRecourseField{
  display: none;
}

