.main {
  display: flex;
  --s: 36vw;
  /* size  */
  --m: -4px;
  /* space */
}

body {
  min-width: 412px;
  margin: 0;
  background-color: rgb(46, 140, 213);
  /*rgb(35 174 97); Grøn til bagrunden*/
  font-size: 0;
  text-align: center;
  background-image: url(https://i.imgur.com/FOHv2pm.png);
}

#cityview_tile {
  background-image: url(../images/Tiles/Custom/Basehex.png);
}

#button_townhall {
  background-image: url(../images/Objects/Custom/Townhall);
  position: relative;
  top: -3vw;
  left: 17vw;
  height: 10vw;
  width: 8vw;
}

#button_resource {
  background-image: url(../images/Objects/Custom/Resource);
  position: relative;
  top: 6vw;
  left: -2vw;
  height: 10vw;
  width: 8vw;
}

#button_barrack {
  background-image: url(../images/Objects/Custom/Barracks);
  position: relative;
  top: 12vw;
  left: 1vw;
  height: 10vw;
  width: 8vw;
  transform: scaleX(-1);
}

.grass_border {
  max-width: 100%;
  height: auto;
}

.container {
  font-size: 0;
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 50px;
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  /*  = 1/cos(30)  */
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) + var(--s)*-0.2885);
  /* = tan(30)/2 */
  /*grass https://i.imgur.com/DuqCNxA.png */
  background-size: contain;
  vertical-align: middle;
  max-width: 100%;
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  height: 100%;
  --r: calc(var(--s)*3*1.1547/2 + 4*var(--m) - 2px);
  shape-outside:
    repeating-linear-gradient(transparent 0 calc(var(--r) - 3px),
      rgb(223, 7, 7) 0 var(--r));
}

.containerbtn {
  font-size: 0;
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 50px;
}

.containerbtn div {
  margin: 0;
  display: inline-block;
  font-size: initial;
  margin-bottom: 0;
  background-size: contain;
  vertical-align: middle;
  max-width: 100%;
  background-repeat: no-repeat;
}

.containerbtn div:hover {
  cursor: pointer;
  -webkit-filter: saturate(2);
  filter: saturate(2);
}

.container-h {
  margin : 0 0 0 70%; 
  height : 100vh; 
  width: 30vw;
  padding: 8vh 4vw 8vh 4vw;
}

.container-h-box{
  border-radius : 10px; 
  width: 22vw;
  height: 84vh;
  background : #27ae60 none repeat scroll 0% 0% / auto padding-box border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'nav1 nav2 nav3 nav4'
    'info1 info1 info2 info2'
    'info3 info3 info4 info4'
    'header2 header2 header2 header2'
    'dev1 dev2 dev3 dev4';
  gap: 10px;
  padding: 10px;
  color: black;
  font-size: 5px;
}

.grid-container div {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 20px;
}

.grid-container div:hover {
  cursor: pointer;
  -webkit-transform: scale(0.90);
  transform: scale(0.90);
  -webkit-filter: saturate(2);
  filter: saturate(2);
}

.header { 
  grid-area: header; 
  padding: 20px;
}
.header1 { 
  grid-area: header1;
  padding: 5px; 
}
.nav1 { 
  grid-area: nav1;
  padding: 10px;
}
.nav2 { 
  grid-area: nav2;
  padding: 10px;
}
.nav3 { 
  grid-area: nav3;
  padding: 10px;
}
.nav4 { 
  grid-area: nav4;
  padding: 10px;
}
.info { 
  grid-area: info;
  padding: 10px; 
}

.info1 { 
  grid-area: info1;
  padding: 10px; 
}

.info2{ 
  grid-area: info2;
  padding: 10px; 
}

.info3 { 
  grid-area: info3;
  padding: 10px; 
}

.info4 { 
  grid-area: info4;
  padding: 10px; 
}

.header2 { 
  grid-area: header2;
  padding: 10px; 
}

.dev1 { 
  padding: 10px;
  grid-area: dev1;
  text-align: center;
  font-size-adjust: 0.74;
}

.dev2 { 
  grid-area: dev2;
  padding: 10px; 
}

.dev3 { 
  grid-area: dev3;
  padding: 10px; 
}

.dev4 { 
  grid-area: dev4;
  padding: 10px; 
}