@import "compass";

 body {
     min-width: 412px;
     margin: 20px;
     background-color: #e9e9ef;
     font-size: 0;
     text-align: center;
}
 .hex {
     display: inline-block;
     position: relative;
     width: 76px;
     height: 38px / cos(30deg);
     margin: 38px * tan(30deg) 0.5px 0.5px * sqrt(3);
     color: rgba(255, 255, 255, 0.75);
     font: 40px/38px / cos(30deg) sans-serif;
     vertical-align: middle;
     background-color: #55636e;
     text-transform: uppercase;
}
 .hex::before, .hex::after {
     content: '';
     display: block;
     position: absolute;
     z-index: -1;
     width: 76px / sqrt(2);
     height: 76px / sqrt(2);
     background-color: inherit;
     transform-origin: 0 0;
     transform: scaleY(tan(30deg)) rotate(-45deg);
}
 .hex::before {
     top: 0;
}
 .hex::after {
     top: 38px / cos(30deg);
}
 .hexbase {
     display: inline-block;
     position: relative;
     width: 76px;
     height: 38px / cos(30deg);
     margin: 38px * tan(30deg) 0.5px 0.5px * sqrt(3);
     color: rgba(255, 255, 255, 0.75);
     font: 40px/38px / cos(30deg) sans-serif;
     vertical-align: middle;
     background-color: green;
     text-transform: uppercase;
}
 .hexbase::before, .hexbase::after {
     content: '';
     display: block;
     position: absolute;
     z-index: -1;
     width: 76px / sqrt(2);
     height: 76px / sqrt(2);
     background-color: inherit;
     transform-origin: 0 0;
     transform: scaleY(tan(30deg)) rotate(-45deg);
}
 .hexbase::before {
     top: 0;
}
 .hexbase::after {
     top: 38px / cos(30deg);
}
 .spacer {
     display: inline-block;
     width: 77px;
}
 