.main {
  --s: 8vh;
  /* size  */
  --m: 1px;
  /* space */
}

body {
  overflow: hidden;
  font-family: "Lato", "Helvetica", Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(46, 140, 213);
  /*rgb(35 174 97); Grøn til bagrunden*/
  font-size: 0;
  text-align: center;
  background-image: url(../images/FOHv2pm.png);
  background-position: 0px 0px;
  animation: animatedBackground 5s linear infinite alternate-reverse;
  font-family: Verdana;
}

.blur {
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;;
}

@keyframes animatedBackground {
  from {background-position: 0 0;}
  to {background-position: 5% 0;}
}

.base {
  background-image: url(../images/UfqroAA.png)!important;
}

.base[id="i20"]{
  background-image: url(../images/mapview/BaseRed.png)!important;
}
.base[id="i02"]{
  background-image: url(../images/mapview/BaseBlue.png)!important;
}
.base[id="i68"]{
  background-image: url(../images/mapview/BaseOrange.png)!important;
}
.base[id="i62"]{
  background-image: url(../images/mapview/BasePink.png)!important;
}
.base[id="i86"]{
  background-image: url(../images/mapview/BaseYellow.png)!important;
}
.base[id="i26"]{
  background-image: url(../images/mapview/BaseGreen.png)!important;
}



.resource1 {
  background-image: url(../images/Tiles/Medieval/farm.png)!important;
}
.resource1[owner="user1"]{
  background-image: url(../images/Tiles/Sci-fi/scifi_silo.png)!important;
}
.resource1[owner="user2"]{
  background-image: url(../images/Tiles/Sci-fi/scifi_tower.png)!important;
}

.resource2 {
  background-image: url(../images/Tiles/Medieval/gold.png)!important;
}

.container-v {
  font-size: 0;
  margin: 0;
  position: absolute;
  width: 62vw;
  height: 60vh;
  padding: 19vh 4vw 20vh 4vw;
}

.container-v div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  /*  = 1/cos(30)  */
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) + var(--s)*-0.2885);
  /* = tan(30)/2 */
  background-image: url(../images/Tiles/Terrain/Grass/grass_10.png);
  /*grass https://i.imgur.com/DuqCNxA.png */
  background-size: contain;
  vertical-align: middle;
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  height: 100%;
  --r: calc(var(--s)*3*1.1547/2 + 4*var(--m) - 2px);
  shape-outside:
    repeating-linear-gradient(transparent 0 calc(var(--r) - 3px),
      rgb(223, 7, 7) 0 var(--r));
}

.container-v div:hover {
  cursor: pointer;
  -webkit-transform: scale(0.90);
  transform: scale(0.90);
  -webkit-filter: saturate(2);
  filter: saturate(2);
}
