.map { 
  grid-area: map; 

}
.hud { 
  grid-area: hud; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'map hud';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}