.main {
  display: grid;
  --s: 5vw;
  /* size  */
  --m: 1px;
  /* space */
}

body {
  margin: 0;
  background-color: rgb(46, 140, 213);
  /*rgb(35 174 97); Grøn til bagrunden*/
  font-size: 0;
  text-align: center;
  /*background-image: url(https://i.imgur.com/FOHv2pm.png);*/
  background-color: rgb(44, 44, 44);
}

#base {
  background-image: url(https://i.imgur.com/UfqroAA.png);
}

#resource1 {
  background-image: url(https://i.imgur.com/o7yDmW1.png);
}

#resource2 {
  background-image: url(https://i.imgur.com/fHN7hUe.png);
}

.grass_border {
  max-width: 100%;
  height: auto;
}

.container-v {
  font-size: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 50px;
  padding-bottom: calc(var(--m) + var(--s)*-0.2885);
}

.container-v div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  /*  = 1/cos(30)  */
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) + var(--s)*-0.2885);
  /* = tan(30)/2 */
  background-image: url(../images/Tiles/Terrain/Grass/grass_10.png);
  /*grass https://i.imgur.com/DuqCNxA.png */
  background-size: contain;
  vertical-align: middle;
  max-width: 100%;
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  height: 100%;
  --r: calc(var(--s)*3*1.1547/2 + 4*var(--m) - 2px);
  shape-outside:
    repeating-linear-gradient(transparent 0 calc(var(--r) - 3px),
      rgb(223, 7, 7) 0 var(--r));
}

.container-v div:hover {
  cursor: pointer;
  -webkit-transform: scale(0.90);
  transform: scale(0.90);
  -webkit-filter: saturate(2);
  filter: saturate(2);
}

.container-h {
  border-radius : 10px; 
  margin : 0 0 0 50%; 
  flex : 0 0 50vw; 
  height : 100vh; 
  background : #27ae60 none repeat scroll 0% 0% / auto padding-box border-box;  
}