.container-h {
    margin : 0 0 0 70%; 
    height : 100vh; 
    width: 30vw;
    padding: 8vh 4vw 8vh 4vw;
  }
  
  .container-h-box{
    border-radius : 10px; 
    width: 22vw;
    height: 84vh;
    background : #27ae60 none repeat scroll 0% 0% / auto padding-box border-box;
  }
  
  .grid-container {
    font-size: 5em;
    display: grid;
    grid-template-areas:
      'header header header header'
      'level level level level'
      'nav1 nav2 nav3 nav4'
      'info1 info1 info2 info2'
      'info3 info3 info3 info3'
      'header2 header2 header2 header2'
      'dev1 dev2 dev3 dev4'
      'time time time time';
    gap: 10px;
    padding: 10px;
    color: black;
  }
  
  .grid-container div {
    border-radius: 4px;
    background-color: rgba(255, 255, 255);
    font-size: 20px;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    height: auto;
  }
  
  .hover {
    cursor: pointer;
    -webkit-filter: saturate(2);
    filter: saturate(2);
  }
  
  .header { 
    grid-area: header; 
    padding: 20px;
  }
  .level { 
    grid-area: level;
    padding: 5px;
  }
  .time {
    grid-area: time; 
    padding: 3px;
  }
  
  .header1 { 
    grid-area: header1;
    padding: 5px; 
  }
  .nav1 { 
    grid-area: nav1;
    padding: 10px;
  }
  .nav2 { 
    grid-area: nav2;
    padding: 10px;
  }
  .nav3 { 
    grid-area: nav3;
    padding: 10px;
  }
  .nav4 { 
    grid-area: nav4;
    padding: 10px;
  }
  .info { 
    grid-area: info;
    padding: 10px; 
  }
  
  .info1 { 
    grid-area: info1;
    padding: 5px;
    display: grid;
    grid-template-areas:
      'gold1 gold2';
  }
  
  .info2{ 
    grid-area: info2;
    padding: 5px; 
    display: grid;
    grid-template-areas:
      'common1 common2';
  }
  
  .info3 { 
    grid-area: info3;
    padding: 3px; 
    align-items: center;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    height: auto;
    display: grid;
    grid-template-areas:
      'troops1 troops2 troops3';
  }
  
  .header2 { 
    grid-area: header2;
    padding: 10px; 
  }
  
  .dev1 { 
    padding: 10px;
    grid-area: dev1;
    text-align: center;
    font-size-adjust: 0.74;
  }
  
  .dev2 { 
    grid-area: dev2;
    padding: 10px; 
  }
  
  .dev3 { 
    grid-area: dev3;
    padding: 10px; 
  }
  
  .dev4 { 
    grid-area: dev4;
    padding: 10px; 
  }
  
  /* CSS */
  .button-21 {
    align-items: right !important;
    appearance: none;
    border: 10%;
    width: 80%;
    background-color: #27ae60;
  }
  
  .button-21:active,
  .button-21:focus {
    outline: none;
  }
  
  .button-21:hover {
    background-position: -20px -20px;
  }
  
  .button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }